@font-face {
    font-family: 'HoboStd';
    src: url('../fonts/HoboStd.otf');
}

@font-face {
    font-family: 'LatoLight';
    src: url('../fonts/Lato/Lato-Light.ttf');
}

@font-face {
    font-family: 'LatoSB';
    src: url('../fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
    font-family: 'LatoMed';
    src: url('../fonts/Lato/Lato-Medium.ttf');
}

@font-face {
    font-family: 'LatoReg';
    src: url('../fonts/Lato/Lato-Regular.ttf');
}