body {
    font-family: 'Roboto', sans-serif;
}

.main-index-page {
    color: #fff;
    text-align: center;
}

a {
    display: inline-block;
}

.logo {
    padding: 10px 0;
}

.banner {
    background: url("../img/bg.jpg") no-repeat center center;
    background-size: cover;
}

.banner {
    padding: 100px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 90px;
}

.banner h1 {
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 70px;
    font-weight: 300;
    margin: 0 auto;
    max-width: 1000px;
    padding: 1em 0;
    border-radius: 10px;
    text-transform: uppercase;
}

.banner h3 {
    margin: 40px 0 50px 0;
}

.banner a {
    border:1px solid #fff;
    background:#ec6727;
    border-radius:4px;
    min-width:100px;
    padding:10px 0;
    color: #fff;
    text-decoration:none;
}

.banner a:hover {
    border:1px solid #fff;
    background:#cb5923;
    border-radius:4px;
    min-width:100px;
    padding:10px 0;
    color: #fff;
    text-decoration:none;
}

/******************************************/

.page-launcher {
    background: url("../img/launch/background.jpg") no-repeat fixed left top;
    background-size: cover;
    box-shadow: 0 0 0 1000px rgba(35, 49, 64, 0.9) inset;
    height: 100%;
    position: inherit;
    width: 100%;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.page-launcher .col-md-11 {
    float: none;
    margin: 0 auto;
}

.page-launcher p {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 21px;
    text-align: center;
}

.page-launcher h1 {
    text-align: center;
    font-size: 38px;
    margin: 5px 0;
}

.log-in .youtube iframe {
    width: 100%;
    height: 425px;
    -webkit-box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
    -moz-box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
    box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
}

.log-in {
    margin-top: 30px;
}

.watch-video {
    position: absolute;
    top: 140px;
}

.log-in hr {
    width: 50px;
    margin-top: 0;
    border-bottom: 2px solid #b0bec3;
    border-top: none;
}

.form-registration {
    width: 100%;
    background: #fff;
    border-radius: 5px;
    color: #000;
    -webkit-box-shadow: -13px 22px 9px -15px rgba(0,0,0,0.59);
    -moz-box-shadow: -13px 22px 9px -15px rgba(0,0,0,0.59);
    box-shadow: -13px 22px 9px -15px rgba(0,0,0,0.59);
}

.log-in .form-registration p {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    padding: 40px 0;
    font-weight: 400;
}

.form-registration .form-group input {
    padding: 10px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    margin: 10px auto;
    line-height: 19px;
    width: 90%;
    height: 45px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.form-registration button {
    background-color: #2e61b5;
    height: 52px;
    line-height: 21px;
    font-size: 18px;
    font-weight: 700;
    margin: 20px auto 30px auto;
    width: 90%;
    display: block;
    color: #fff;
    text-transform: uppercase;
}

.form-registration button:hover {
    background-color: #3c4c60;
    color: #fff;
}

.form-registration form {
    padding-bottom: 5px;
}

.benefits .col-md-11 {
    background: #fff;
    margin-top: 20px;
}

.benefit-main-img {
    margin: 10px auto 0;
    display: block;
    width: 95%;
}

.text-in-img {
    position: absolute;
    top: 100px;
    color: #000;
    width: 440px;
    text-align: center;
    left: 250px;
}

.text-in-img h4 {
    font-size: 24px;
    line-height: 34px;
}

.benefits p {
    color: rgb(176, 190, 195);
}

.benefits .col-md-11 {
    -webkit-box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
    -moz-box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
    box-shadow: 0 22px 9px -15px rgba(0,0,0,0.59);
}
    
.benefits .row img {
    margin: 0 auto;
    display: block;
}

.benefits .row .card {
    padding-bottom: 12px;
}

.benefits .row {
    padding-bottom: 35px;
}

.benefits h5 {
    color: rgb(60, 76, 96);
    text-align: center;
    font-size: 21px;
    line-height: 29px;
    margin-bottom: 25px;
}

.benefits {
    padding: 0 45px;
}

.social {
    margin: 15px auto;
    text-align: center;
}

.social .btn {
    padding: 0px 5px;
    font-size: 12px;
}

.social .btn span {
    padding-right: 5px;
}

.btn-twitter {
    background: #1b95e0;
    color: #fff;
}

.btn-facebook {
    background: #4267b2;
    color: #fff;
}

.btn-twitter:hover {
    background: rgb(55, 169, 239);
    color: #fff;
}

.btn-facebook:hover {
    background: #2e5095;
    color: #fff;
}

@media only screen and (max-width: 1200px) {
    .text-in-img {
        left: 168px;
    }
}

@media only screen and (max-width: 1050px) {
    .banner h1 {
        margin: 0 20px;
    }

    .banner h3 {
        margin: 20px 0 30px 0;
    }
}

@media only screen and (max-width: 992px) {
    .benefit-main-img {
        width: 100%;
        padding-top: 20px;
    }
    
    .text-in-img {
        top: 65px;
        left: 165px;
        width: 300px;
    }
}

@media only screen and (max-width: 768px) {
    .text-in-img {
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        margin-bottom: 30px;
    }
    
    .log-in {
        margin-top: 160px;
    }
    
    .watch-video {
        top: 205px;
        width: 280px;
        left: 50px;
    }
    
    .page-launcher .logo {
        text-align: center;
        margin: 20px 0 10px 0;
    }
    
    .page-launcher h1 {
        font-size: 30px;
    }
    
    .page-launcher p {
        margin: 20px 0;
    }
/*
    
    .benefits {
        width: 90%;
    }
*/
    
    .benefits .col-md-11 {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 576px) {
    .watch-video {
        top: 240px;
        width: 230px;
    }
    
    .benefits .col-md-11 {
        width: 100%;
    }
    
    .log-in {
        margin-top: 140px;
    }
}

/*
@media only screen and (max-width: 510px) {
    .col-md-5,
    .col-md-7 {
        padding: 0 5px;
    }
}*/
